
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content {
  background: #fff;
  padding: 24px;
  width: 320px;
  height: 20px;
  border-radius: 8px;
  text-align: center;

  .closeButton{
    background: red;
    color: white;
    padding: 10px;
    border-radius: 16px;
    border
    

  }
}